[core]
	excludesfile = ~/.gitignore_global
	; pager = git-split-diffs --color | less -RFX
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[user]
	name = Komori Yuichiro
	email = mail.cmmmli@gmail.com
[commit]
	template = ~/.stCommitMsg
[ghq]
	root = ~/dev/src
[init]
	templatedir = ~/.git_template/
	defaultBranch = main
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pushf = push --force-with-lease
  chp = cherry-pick
[pull]
	rebase = false
[split-diffs]
	theme-name = github-dark-dim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
